<% query_state = query_state_from_search_state(search_state) %>
<% query_state.delete('page') %>

<div class="toggle-wrapper">
  <div class="toggle toggle-trln">
    <%= button_tag(type: "button", id: trln_button_id, class: "btn btn-link d-flex p-0 text-decoration-none border-0 #{trln_search_button_class}",
                  title: "#{t('trln_argon.local_filter.search_verb')} #{t('trln_argon.local_filter.searching_trln')}",
                  onclick: "window.location='#{search_trln_path(query_state)}'") do %>
      <div class="toggle-logo py-2 px-3">
        <div class="icon-wrapper"></div>
      </div>
      <div id="<%= trln_button_id %>-label" class="toggle-label text-start d-flex align-self-center ms-2 pe-2" data-count-only-path="<%= trln_argon.trln_count_only_path(query_state) %>">
        <%= t('trln_argon.local_filter.searching_trln') %>
      </div>
    <% end %>
</div>
