<% if document.trln_requestable? %>
  <%= link_to "Request", document.illiad_request_url_default,
    class: "btn btn-success-action request-from-trln", target: "_blank",
    data: { toggle: 'modal', target: '#trln-request-modal',
      illiad_params: document.illiad_request_params, remote: false } %>
<% end %>

<div class="modal fade" id="trln-request-modal" tabindex="-1"
  role="dialog" aria-labelledby="trln-request-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="trln-request-modal-label">
          <%= image_tag("trln_argon/trln_icon.png", alt: 'TRLN',
            class: 'trln_request_icon') %> Request from UNC, NC State, or Duke Libraries
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Choose your home library at NC Central:</p>
        <ul id="choose-your-illiad">
          <li>
            <a href="#" target="_blank"
              data-base-url="<%= NccuBlacklight.illiad_main_base_url %>">
              NC Central University
            </a>
          </li>
          <li>
            <a href="#" target="_blank"
              data-base-url="<%= NccuBlacklight.illiad_law_base_url %>">
              NC Central University - Law
            </a>
          </li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default text-right" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>