#document-tools .request-from-trln {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  background-color: maroon;
  color: white;
 }

.request-from-trln {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  background-color: maroon;
  color: white;
 }

